body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

svg {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

path {
    fill: none;
    stroke: #257ed1;
}

text {
    text-shadow:
        -1px -1px 3px #fff,
        -1px 1px 3px #fff,
        1px -1px 3px #fff,
        1px 1px 3px #fff;
    pointer-events: none;
    font-family: "Teko", sans-serif;
}

button {
    display: block;
    background-color: #257ed1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

#buttons {
    z-index: 1000;
    position: fixed;
    top: 20px;
    left: 20px;
}